.accordion__title {
  font: var(--f-title);
  transition: var(--transition);
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion__description {
  padding: 17rem 0 23rem;
  font: var(--f-desc);
}

.accordion__icon {
  width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--grey);

  & svg {
    transition: var(--transition);
  }
}

.accordion__item {
  padding: 10rem 20rem;
  position: relative;
  transition: var(--transition);

  // border-radius: 20rem;
  border: 1rem solid var(--grey);
  &:not(:last-child) {
    margin-bottom: 10rem;
  }
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: var(--transition);
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon svg {
  transform: rotate(180deg);
}
