html {
  font-size: 1px;

  @include desktop {
    font-size: 0.95px;
  }
  @include desktop-small {
    font-size: 0.9px;
  }
  @include tablet {
    font-size: 0.85px;
  }

  @include tablet-small {
    font-size: 0.8px;
  }

  @include mobile {
    font-size: 0.7px;
  }

  @include mobile-small {
    font-size: 0.6px;
  }
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff);
}

._hidden {
  overflow: hidden;
}

.wrapper {
  max-width: 1440rem;
  margin-inline: auto;
  overflow-x: hidden;
}

.container {
  margin-inline: auto;
  padding: 50rem;

  @include desktop-small {
    padding: 30rem;
  }

  @include tablet {
    padding: 20rem;
  }
}

.title {
  font: var(--f-title);
  color: var(--grey);
}
.desc {
  font: var(--f-desc);
  color: var(--grey);
}

.btn {
  border-radius: 30rem;
  background: var(--grey);
  padding: 15rem 30rem;
  color: var(--white);
  transition: var(--transition);

  @include hover-on {
    &:hover {
      color: var(--c-hover-txt);
    }
  }
}
